* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
}

.left-section {
    width: 350px;
    background-color: rebeccapurple;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    overflow: auto;
}

.right-section {
    position: relative;
    height: 100px;
    left: 350px;
    width: calc(100% - 350px);
    display: flex;
    flex-direction: column;
}

.product-item {
    min-height: 50px;
    border-bottom: 1px solid yellowgreen;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.product-img {
    height: 300px;
    width: 50%;
    align-self: center;
    overflow: visible
}

.product-item.selected {
    background-color: cadetblue
}